<html>
    <head>
        
    </head>
    
    <body>
        <h1>Error</h1>
        
        I died because you tried to use a function inside of me!
        
        {{app.get('env')}}
        
    </body>
    
</html>