<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    
    <body>
        <h1>{{title}}</h1>
        
        <p>You are running in <b>{{env}}</b> mode. </p>
        
        <p>
            <h2>Funky stuff</h2>
            The result of some func: {{func}}
            
        </p>
        
        <p>
             The config val is: {{myVal}}
        </p>
        
    </body>
    
</html>